*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Urbanist';
}

#background{
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
}

#global--container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    background-color: white;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);
    z-index: 2;
    margin-top: 3cm;
}

#card--header--img{
    width: 300px;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
    margin-bottom: -7px;
}

#card--header{
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 5mm;
    text-align: center;
}

#card--header h2, #card--header h4{
    font-weight: 100;
}

#card--link{
    width: 269px;
    display: flex;
    padding: 4mm;
}

#card--link a{
    position: absolute;
    margin-left: 190.9px;
}

#card--link--left-half{
    width: 50%;
    display: flex;
    padding: 4mm;
}

#card--link--right-half{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4mm;
}

#card--link a{
    box-shadow: 0px 0px 2px black;
    padding: 2mm;
    color: rgb(95,100,111);
    border-radius: 0.1cm;
    font-weight: 600;
}

#card--link a:hover{
    background-color: rgb(26,168,224);
    color: white;
    box-shadow: none;
}

#card--links--img{
    width: 115px;
}

hr{
    opacity: 30%;
}