*{
    margin: 0;
    padding: 0;
    text-decoration-line: none;
    font-family: 'Segoe UI';
}

header{
    color: white;
    padding: 3mm;
    padding-bottom: 0;
    text-align: center;
}

header img{
    width: 200px;
}

header hr{
    opacity: 5%;
    margin: 3mm;
}

body{
    background-color: rgba(19,19,19);
}

section{
    color: white;
    padding-left: 6mm;
}

#section-1--title--hr{
    width: 50px;
    margin-bottom: 4mm;
}

/* cards */
#cards{
    display: flex;
    flex-wrap: wrap;
}

#card{
    display: flex;
    align-items: center;
    background-color: rgb(230, 230, 230 );
    width: fit-content;
    padding: 2mm;
    border-radius: 0.3cm;
    margin-right: 6mm;
    margin-bottom: 4mm;
}

#card img{
    width: 50px;
    border-radius: 0.3cm;
    margin-right: 2mm;

}

#cards a{
    color: black;
    display: contents;
}

#cards:hover{

}

#card p{
    font-weight: 500;
    margin-bottom: -7px;
}

#card small{
    color: rgb(230, 126, 34);
    font-weight: 500;
}


